.Instructions{
  min-height: 60px;
  padding: 15px 0px;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container{
  width: 350px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgb(0, 0, 0) 2px 3px 9px -1px;
  padding: 10px;
}

.Card {
  width: 90%;
  box-shadow: rgb(61, 88, 26) 3px 1px 9px -1px;
  height: 90px;
  background: rgb(107, 142, 35);
  margin: 6px;
  border-radius: 5px;
  padding: 15px;
}

.Card .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.empty_display{
  display: flex;
  justify-content: center;
}